body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("footerUngu.png");
    background-position: bottom;
    background-repeat: no-repeat;
    
}

nav {
    width: 82%;
    margin-left: 120px;
    position: absolute;
}

.header ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 10px;
    overflow: hidden;
    background-color: rgba(49, 11, 66, 0.808);
}

.header li {
    float: left;
  }
  
.header li a {
    display: inline;
    color: rgb(212, 207, 207);
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
  }
  
.header li a:hover {
    color: #fff;
  }
  
.linknav { 
    padding-top: 18px;
}

.img img {

    width: 100%;
}

.search {
position: absolute;
margin-top: -20px;
margin-left:50px;
border-radius: 10px;
}

input[type=text] {
    border: 2px solid  #ccc;
    border-radius: 4px;
    padding: 5px;
    
}


.row {
    margin-left: 140px;
    margin-top: 50px;
}

.column1 {
    float: left;
    width: 50%;
    padding: 15px;
}

.column {
  float:left;
  width:33,3%;
  padding:15px;
  text-align: center;
  margin-left:10px;
}

.marginatas {
    margin: auto;
}

.paragraph {
    font-size: 13px;
    font-family: serif;
}
    
.tanggal {
    background-color: rgb(159, 192, 67);
    border-radius: 100px;
    width: 57px;
    height: auto;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-family:'Times New Roman', Times, serif;
}

.tabel {
    margin: 1% 10%;
}

.tabel tr td img {
    width: 230px;
    height: 100%;
    margin: 20px;
}


/* footer */
footer {
    float: right;
    
}

footer ul li {
    list-style-type: none;
    display: inline;
}

footer ul li a {
    text-decoration: none;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 3px !important;
    padding: 5px;
    font-size: 10px;
    color: #fff;
}

.copy {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #fff;
    float: right;

}

/* Biodata */

.cardA {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 0;
    margin-bottom: 100px;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
.cardA button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
 .cardA a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .cardA button:hover, a:hover {
    opacity: 0.7;
  }

  /* Contact_us */
 
input[type=text],input[type=email],input[type=password],input[type=submit],textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid rgb(135, 25, 145);
    border-radius: 4px;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

